/**
 * All of the CSS for your admin-specific functionality should be included in this file.
 *
 * The file is enqueued from inc/admin/class-admin.php.
 */
dd label input {
   margin-right:100px;
}
.hform2 {
	float:left;
	margin-right:2px;
	width: 15px;
}
.hform1 {
	float:left;
 
/* 	margin-right:20px; */
 */
	width: 10px;
}
.hiding{
	display: none;
}
.hform2 label {
	width 80px;
}
