/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 */


tr{
 white-space: nowrap
}
/* 
p:first-line {
    color:red;
    text-indent:0;
    text-align: left;
}
 */

p,u{	
	text-align: left;
}
#assign_trade_popup {
  display:none;
  position: fixed; 
  top: 40%;
  left: 40%;
  width: 200px;
  height: 110px;
  background-color:  rgba(150, 150, 150, 1.0) ;
  z-index: 1000;
  border-style: double;
  border-color: blue;
}
#assigned_instructor {
  display:none;
  position: fixed; 
  top: 40%;
  left: 40%;
  width: 200px;
  height: 210px;
  background-color:  rgba(150, 150, 150, 1.0) ;
  z-index: 1000;
  border-style: double;
  border-color: blue;
}
#assign_tradeSelect{
   z-index: 1000;
   position: absolute;
   top: 130px;
   left: 50px;
}
.popup-content {
	display:none;
/* 	visibility:hidden; */
	padding: "3px";
	position: absolute;
	float: left;
  	left: 2px;
  	width :95%
} 
.popup-content li {
    white-space: normal;
    float: left;
    width: 95%;
    height: auto;
	word-wrap: break-word;
}
.popup-overlay.active{
visibility:visible;
}
.student_hidden{
	visibility: hidden;
	display: none;
}
.instructor_hidden{
	visibility: hidden;
	display: none;
}

.popup-content.active {
visibility:visible;
}
optgroup.nofly{
	background-color: #000000;
	color: #ffffff;
}
.hform {
	float:left;
	margin-right:20px;
}
.choices_panel{
  background-color: #f1f1f1;
	color: #1e90ff ;
	font-size: 14px;
	font-style: italic;
}
// table CSS 
.table-container {
    display: table;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.table-heading {
    font-weight: bold;
    display: table-caption;
    background-color: #e9e9e9;
    text-align: center;
    padding: 8px;
    line-height: 21px;
    font-size: 18px;
}

.table-row {
    display: table-row;
    text-align: center;
}
.table-row-shade {
    display: table-row;
    text-align: center;
    background-color: #e9e9e9;
}

.table-col {
    display: table-cell;
    text-align: center;
    padding: 4px;
    border: 1px solid #ca8327;
}
.ui-dialog{

position: fixed;
z-index: 99999;

}
.caption{
    font-weight: bold;
    font-size: 12px;
}
/* 
body .fc { 
   font-size: 1.0em;  <--- change here for general 
}

.fc-event {
    font-size: .85em;} 
    
*/