/**
 * All of the CSS for your public-facing functionality should be included in this file.
 *
 * The file is enqueued from inc/frontend/class-frontend.php.
 */


tr{
 white-space: nowrap
}

#assign_trade_popup {
  display:none;
  position: fixed; 
  top: 40%;
  left: 40%;
  width: 200px;
  height: 110px;
  background-color:  rgba(150, 150, 150, 1.0) ;
  z-index: 1000;
  border-style: double;
  border-color: blue;
}
#assign_tradeSelect{
   z-index: 1000;
   position: absolute;
   top: 130px;
   left: 50px;
}
.popup-content {
	display:none;
/* 	visibility:hidden; */
	padding: "3px";
	position: absolute;
	float: left;
  	left: 2px;
  	width :95%
} 
.popup-content li {
    white-space: normal;
    float: left;
    width: 95%;
    height: auto;
	word-wrap: break-word;
}
.popup-overlay.active{
visibility:visible;
}

.popup-content.active {
visibility:visible;
}
optgroup.nofly{
	background-color: #000000;
	color: #ffffff;
}
/* 
body .fc { 
   font-size: 1.0em;  <--- change here for general 
}

.fc-event {
    font-size: .85em;} 
    
*/